*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

h1{
    text-align: center;
    color: red;
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
    text-align: justify;
    padding: 50px 100px 0 100px;
}